body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 10px;
}

/* Declaring some CSS variable */
:root {
  --btn: #dbdbdb;
  --btn-hover: #cacaca;
  --item-bg: #f0f0f0;
  --modal-bg: rgba(141, 141, 141, 0.541);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > button {
  padding: 10px 15px;
  border-radius: 15px;
  border: none;
  background-color: var(--btn);
  cursor: pointer;
}

.header > button:hover {
  background-color: var(--btn-hover);
}

.employees {
  display: flex;
  gap: 5px;
}

.employees > div {
  border: 1px solid gray;
  overflow-y: auto;
  height: 400px;
}

.employee-name-container {
  width: 30%;
}

.employee-details-container {
  width: 70%;
}

.employee-name-container,
.employee-details-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.employee-name-title,
.employee-details-title {
  padding-bottom: 10px;
  margin-bottom: 5px;
  text-align: center;
  border-bottom: 1px solid gray;
}

.employee-name-list {
  display: flex;
  flex-direction: column;
}

.employee-name-list-items {
  cursor: pointer;
  padding: 10px 15px;
  margin-bottom: 5px;
  text-align: center;
  background-color: var(--item-bg);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employee-name-list-items:hover,
.selected {
  background-color: var(--btn);
}

.employee-details-list-heading {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  padding: 5px;
}

.employee-details-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.employee-details-list > img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border-radius: 50%;
}

.addEmployee-container {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--modal-bg);
}

.addEmployee-create {
  width: 400px;
  background-color: white;
  box-shadow: 0 0 50px gray;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.addEmployee-create > div {
  display: grid;
  grid-template-columns: 48.1% 48.1%;
  column-gap: 15px;
}

.addEmployee-create input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(236, 236, 236);
  height: 35px;
}

.addEmployee-create input::-webkit-outer-spin-button,
.addEmployee-create input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addEmployee-submit {
  padding: 10px !important;
  border-radius: 5px;
  border: none;
  background-color: var(--btn);
  cursor: pointer;
}

.addEmployee-submit:hover {
  background-color: var(--btn-hover);
}
