Functional Requirements:
1. Real-time suggestions
2. Dynamic & static data support
3. Debouncing
4. Keyboard navigation
5. Highlighted Match
6. Loading Indicator.

Non-Functional Requirement:
1. Perfomant
2. Responsiveness
3. Security
4. Caching
5. Accessibility
6. Compatibility